#DeconvolutionLab2
#Mon May 28 21:50:19 CEST 2018
Resources.epsilon=1E-6
Preprocessing.extxy=0
Algorithm.NNLS.iterations=10
Algorithm.RIF.reg=0.1
Algorithm.FISTA.iterations=10
Preprocessing.apoz=Uniform
Algorithm.ICTM.reg=0.1
Algorithm.algorithm=Regularized Inverse Filter
Algorithm.SIM.gaussian.stdev=1.0
Preprocessing.extz=0
DeconvolutionLab.MainDialog.location.y=23
DeconvolutionLab.MainDialog.location.x=0
DeconvolutionLab.MainDialog.location.w=562
Algorithm.ISTA.wavelets=Haar
Algorithm.TRIF.reg=0.1
Language.job=Job
Language.headless=Run (Headless)
Algorithm.LW.iterations=10
Algorithm.BVLS.step=1.0
Resources.fft=Fastest
Algorithm.FISTA.reg=0.1
Algorithm.ISTA.scale=3
Preprocessing.apoxy=Uniform
Algorithm.ICTM.iterations=10
Controller.constraint=no
Algorithm.RLTV.reg=0.1
Preprocessing.padxy=None
DeconvolutionLab.MainDialog.location.h=490
Algorithm.ISTA.reg=0.1
Controller.residu.enable=false
Algorithm.TM.iterations=10
Algorithm.VC.iterations=10
Controller.time.value=3600
Algorithm.VC.step=1.0
Algorithm.RL.iterations=10
Controller.reference.enable=false
Controller.residu.value=0.01
Algorithm.BVLS.iterations=10
Preprocessing.padz=None
Algorithm.ISTA.iterations=10
Controller.monitor=console table
Controller.reference.value=
Resources.system=yes
Algorithm.TM.reg=0.1
Algorithm.SIM.poisson=0.0
Algorithm.FISTA.step=1.0
Algorithm.TM.step=1.0
Language.language=Command line
Algorithm.FISTA.scale=3
Algorithm.SIM.gaussian.mean=0.0
Algorithm.ICTM.step=1.0
Preprocessing.normalization=1
Path.path=/Volumes/GoogleDrive/My Drive/workspace/DeconvolutionLab2.1-1.6/
Output.display=true
Algorithm.ISTA.step=1.0
Controller.time.enable=false
Algorithm.LW.step=1.0
Path.current=current
Algorithm.NNLS.step=1.0
Controller.stats=no
Controller.verbose=log
Algorithm.FISTA.wavelets=Haar
Resources.multithreading=yes
